<div class="banner-host" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('<%= cl_image_path "banner_rv4zbx" %>')">
  <div class="container">
    <div class="flex-host">
      <div class="container-host one">
        <h1>Sharing your passion to everyone!</h1>
      </div>
      <div class="container-host-two">
        <%= link_to "Rent your Passion!",  new_activity_path, class: "btn btn-dark" %>
        <%= link_to "Back to Home page",  root_path, class: "btn btn-dark" %>
      </div>
    </div>
  </div>
</div>

<div class="container-comments">
  <div class="categories-title">
    <h1>Reviews from our users!</h1>
  </div>
    <div class="row">
      <% @reviews.all.sample(4).each do |review| %>
      <div class="col-lg-4 col-md-6 col-sm-6">
        <div class="card">
          <div class="comment-image">
          </div>
        </div>
          <div class="comment">
            <h2><%= review.content %></h2>
            <h2><%= review.user.first_name %></h2>
          </div>
      </div>
     <% end %>
  </div>
</div>
<div class="categories">
  <div class="categories-title">
    <h1>Explore the possibilities</h1>
  </div>
  <div class="row">
  <% @categories.each do |category| %>
    <div class="col-lg-3 col-md-6 col-sm-6">
      <div class="card">
        <%= cl_image_tag ("bike_kjfsvx") %>
        <div class="card-infos">
          <div>
            <h2><%= link_to category.name, category_path(category)  %></h2>
          </div>
        </div>
      </div>
    </div>
  <% end %>
  </div>
</div>
<div class="host-container">
  <div class="become-host" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= asset_path "become_host.jpg" %>);">
    <div class="container">
      <h1>Launch your activity!</h1>
      <p>Earn extra income and unlock new opportunities by sharing your gear.</p>
       <%= link_to "Let's Go!",  new_user_registration_path, class: "btn btn-dark" %>
    </div>
  </div>
</div>
