
<div class="container mt-2">
  <div class="container-login">
    <h2 class="text-center pb-3">What do you want to rent?</h2>
    <div class="user-login-signup">
      <%= simple_form_for(@activity) do |f| %>
        <%= f.input :name %>
        <%= f.association :categories, input_html: { class: 'select2' } %>
        <%= f.input :description %>
        <%= f.input :address %>
        <%= f.input :price, label: "Price in €"%>
        <%= f.input :photos, as: :file, input_html: { multiple: true } %>
        <%= f.submit %>
      <% end %>
    </div>
  </div>
</div>
