<div class="container">
  <div class="container-profile">
    <div class="activities">
      <h2>My activities</h2>
      <ul>
        <% current_user.activities.each do |activity| %>
          <li><%= link_to activity.name, activity_path(activity) %> </li>
        <% end %>
      </ul>
      <div>
        <%= link_to "Create an activity", new_activity_path, class: "btn btn-primary" %>
      </div>
    </div>
    <div class="bookings">
      <h2>My Bookings</h2>
      <ul>
        <% current_user.activities.each do |activity| %>
          <li><%= link_to activity.name, activity_path(activity) %> </li>
        <% end %>
      </ul>
      <div>
        <%= link_to "Create an activity", new_activity_path, class: "btn btn-primary" %>
      </div>
    </div>
  </div>
</div>
<div class="container mt-5 mb-5">
  <%= link_to "Back to Home page", root_path, class: "btn btn-primary" %>
</div>
