<div class="container-login">
  <div class="user-login-signup">
    <%= simple_form_for [ @activity, @review ] do |f| %>
      <%= f.input :content %>
      <%= f.input :rating, :select, collection: [0, 1, 2, 3, 4, 5] %>
      <%= f.submit "Submit review", class: "btn btn-primary" %>
    <% end %>
  </div>
  <div class="additional-section">
    <%= link_to 'Back', activities_path %>
  </div>
</div>
