<!DOCTYPE html>
<html>
  <head>
    <title>XSportsBnb</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_pack_tag 'application' %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  </head>

  <body>
    <%# <div>
      <p class="notice"><%= notice </p>
      <p class="alert"><%= alert </p>
    </div> %>
    <% unless params[:controller] == "pages" && params[:action] == "home" %>
    <%= render 'shared/navbar' %>
    <% end %>
    
    <%= yield %> 
    <footer>
      <%= render 'shared/footer' %>
    </footer>
  </body>
 
</html>
